<div *ngIf="!loading.active" class="container">
  <form #postForm="ngForm" class="form" (ngSubmit)="addPost()" >
    <div class="form-group">
      <textarea type="text" name="postText" [(ngModel)]="postText" class="form-control" placeholder="What's on your mind?" required></textarea>
    </div>
    <div class="form-group">
      <label for="check">Private Post?</label>
      <input [(ngModel)]="privatePost" name="check" type="checkbox"/>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Post</button>
    </div>
  </form>

  <ul>
    <li *ngFor="let post of myPosts | async">
      <p>writter by user: {{post.name}}</p>
      <p>{{post.text}}</p>
      <p>{{post.date | date: 'dd/MM/yyyy'}}</p>
    </li>
  </ul>


</div>


